
@{
    ViewBag.Title = "获取关注用户";
} 
<h2 style="text-align: center;">获取关注的用户集合</h2>
<form class="form-horizontal" action="/Follow/GetFollowUsers" method="post">
    <div class="form-group">
        <label for="txtUserId" class="col-sm-1 control-label">userid</label>
        <div class="col-sm-10">
            <input name="userId" type="text" class="form-control" id="txtUserId" placeholder="用户Id">
        </div>
    </div>
    <div class="form-group">
        <label for="txtToken" class="col-sm-1 control-label">token</label>
        <div class="col-sm-10">
            <input name="token" type="text" class="form-control" id="txtToken" placeholder="用户Token">
        </div>
    </div>
    <div class="form-group">
        <label for="txtPageIndex" class="col-sm-1 control-label">pageindex</label>
        <div class="col-sm-10">
            <input name="pageIndex" type="text" class="form-control" id="txtPageIndex" placeholder="页码（索引从1开始）">
        </div>
    </div>

    <div class="form-group">
        <label for="txtPageSize" class="col-sm-1 control-label">pagesize</label>
        <div class="col-sm-10">
            <input name="pageSize" type="text" class="form-control" id="txtPageSize" placeholder="每页条数">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
    <div class="form-group">
        <label for="txtResult" class="col-sm-1 control-label">Result</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="txtResult" rows="5">@ViewData["Result"]</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <p><a href="~/Default/Index" class="btn btn-default" style="text-align:left" role="button">返回接口列表</a></p>
        </div>
    </div>
</form>

