
@{
    ViewBag.Title = "轮播图列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">轮播图列表</h2>

<div class="row">
    <label for="txtResult" class="col-sm-1 control-label">Result</label>
    <div class="col-sm-10">
        <textarea class="form-control" id="txtResult" rows="5">@ViewData["Result"]</textarea>
    </div>
</div>