
@{
    ViewBag.Title = "推荐主播列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">推荐主播列表</h2>
<form class="form-horizontal" action="/Anchor/GetRecommendAnchorList" method="post">
    <div class="form-group">
        <label for="txtPageIndex" class="col-sm-1 control-label">pageindex</label>
        <div class="col-sm-10">
            <input name="pageIndex" type="text" class="form-control" id="txtPageIndex" placeholder="页码（索引从1开始）">
        </div>
    </div>

    <div class="form-group">
        <label for="txtPageSize" class="col-sm-1 control-label">pagesize</label>
        <div class="col-sm-10">
            <input name="pageSize" type="text" class="form-control" id="txtPageSize" placeholder="每页条数">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
    <div class="form-group">
        <label for="txtResult" class="col-sm-1 control-label">Result</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="txtResult" rows="5">@ViewData["Result"]</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <h3>接口返回参数说明：</h3>
            <p><strong>AnchorId：</strong>主播Id,即用户Id</p> 
            <p><strong>AuthStatus：</strong>0：未认证；1：认证中； 2：已认证</p>
            <p><strong>CallRatio：</strong>呼叫费用如:100棉花糖/分钟</p>
            <p><strong>Glamour：</strong>魅力值</p>
            <p><strong>NeteaseAccId：</strong>网易通信账号</p>
            <p><strong>NeteaseToken：</strong>网易通信Token</p> 
            <p><strong>NeteaseChatStatus：</strong>0：离线；1：在聊； 2：空闲</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <p><a href="~/Default/Index" class="btn btn-default" style="text-align:left" role="button">返回接口列表</a></p>
        </div>
    </div>
</form>



