
@{
    ViewBag.Title = "获取审核开关状态";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">获取审核开关状态</h2>
<form class="form-horizontal" action="/Default/Config" method="post">
    <div class="form-group">
        <label for="txtVersion" class="col-sm-1 control-label">version</label>
        <div class="col-sm-10">
            <input name="version" type="text" class="form-control" id="txtVersion" placeholder="App版本号">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
    <div class="form-group">
        <label for="txtResult" class="col-sm-1 control-label">Result</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="txtResult" rows="5">@ViewData["Result"]</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <h3>接口返回参数说明：</h3>
            <p><strong>Status：</strong>0表示审核状态；1表示上线状态</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <p><a href="~/Default/Index" class="btn btn-default" style="text-align:left" role="button">返回接口列表</a></p>
        </div>
    </div>
</form>



