
@{
    ViewBag.Title = "用户举报";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">用户举报</h2>
<form class="form-horizontal" action="/Default/TipOff" method="post">
    <div class="form-group">
        <label for="txtUserId" class="col-sm-1 control-label">userid</label>
        <div class="col-sm-10">
            <input name="userId" type="text" class="form-control" id="txtUserId" placeholder="用户Id">
        </div>
    </div>

    <div class="form-group">
        <label for="txtToken" class="col-sm-1 control-label">token</label>
        <div class="col-sm-10">
            <input name="token" type="text" class="form-control" id="txtToken" placeholder="Token">
        </div>
    </div>

    <div class="form-group">
        <label for="txtAnchorId" class="col-sm-1 control-label">anchorid</label>
        <div class="col-sm-10">
            <input name="anchorId" type="text" class="form-control" id="txtAnchorId" placeholder="主播Id">
        </div>
    </div>

    <div class="form-group">
        <label for="txtCategoryId" class="col-sm-1 control-label">categoryid</label>
        <div class="col-sm-10">
            <input name="categoryId" type="text" class="form-control" id="txtCategoryId" placeholder="举报类别">
        </div>
    </div>

    <div class="form-group">
        <label for="txtDescription" class="col-sm-1 control-label">description</label>
        <div class="col-sm-10">
            <input name="description" type="text" class="form-control" id="txtDescription" placeholder="内容">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
    <div class="form-group">
        <label for="txtResult" class="col-sm-1 control-label">Result</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="txtResult" rows="5">@ViewData["Result"]</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <p><a href="~/Default/Index" class="btn btn-default" style="text-align:left" role="button">返回接口列表</a></p>
        </div>
    </div>
</form>



