<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PassportContext" connectionString="data source=59.188.138.164;initial catalog=db_opc_passport;persist security info=True;user id=usr_opcomunity;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>